```
# -----------------------------
# Flutter / Dart
# -----------------------------
.dart_tool/
.packages
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Archivos de build
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
macos/Pods/
android/.gradle/
android/app/build/

# Archivos de cache
*.log
*.tmp

# -----------------------------
# Archivos de entorno / secretos
# -----------------------------
.env
.env.*       # cualquier otro .env.local, .env.dev, etc.
firebase_app_id_file.json
google-services.json
GoogleService-Info.plist

# Mantener el ejemplo
!.env.example

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.iml

# -----------------------------
# Sistema operativo
# -----------------------------
.DS_Store
Thumbs.db
```
